/*###########Defualts##########*/
body{
    margin: 0;
    line-height: 1;
}

.container{
    width: 100%;
    margin: auto;
    padding-bottom: 4%;
    padding-top: 4%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

footer.footsy{
    background-color: #666666;
    color: #fff;
    padding-left: 10%;
    padding-bottom: 3%
}

nav,
header,
footer{
    display: block;
}

.section2Box{
    box-shadow: 0 0 0 1px rgba( 0, 0, 0, .15), 0 2px 3px 0 rgba( 0, 0, 0, .1);
    text-align: center;
    padding: 42px 25px 24px 25px;
    margin: 25px;
    border-radius: 7px
}

label{
    font-size: 32px;
    font-weight: 702;
}

p{
    font-size: 18px;
    line-height: 102%;
}

button{
    color: #fff;
    background-color: #65a5ff;
    padding: 15px 38px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 7px;
}

button.sectionButton{
    display: block;
    margin: auto;
    text-shadow: 1px 1px 2px black;
}

button.sectionButton:active{
    background-color: #076DFF;
    text-shadow: .1px .1px 2px black;
}

/*######### Custom ########*/
nav{
    width: 100%;
}

nav ul{
    background-color: #eee;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid black;
}

ul.topnav li{
    float: left;
}

ul.topnav li.topnav-Right,
ul.topnav li.dropdownIcon{
    float: right;
}

ul.topnav li a{
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #666;
    padding: 12px;
    min-height: 34px;
}

ul.topnav li.dropdownIcon{
    display: none;
}

ul.topnav li a:hover{
    background-color: blue;
    color: #fff;
}

ul.topnav li a:active{
    background-color: blueviolet;
}



/*########## Sections Custom Styles ####*/
.sectionGradient{
    background: -webkit-linear-gradient(#076DFF, #65a5ff);
    border-bottom: 1px solid gray;
}

.section1Headers{
    padding-bottom: 10px
}
.section1Headers h1{
    color: #ffffff;
    font-size: 38px;
    line-height: 48px;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 1px 1px 1px black;
}

header.section2Header h1{
    text-align: center;
    font-weight: 600;
    font-size: 45px;
}

.section1Form h2{
    color: #fff;
    font-size: 22px;
    text-shadow: .5px .5px 1px black;
    line-height: 30px;
    margin: 0;
}

.footsy ul{
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 20px;
    font-size: 19px;
    text-transform: capitalize;
}

article.sectionArticle {
    margin-left: 5%;
}

.sectionArticle p{
    font-size: 20px;
    line-height: 107%
}

.section1Padding{
    padding-left: 20%;
}

.section1Form input{
    padding: 9px 40% 9px 12px;
    font-size: 14px;
    color: purple;
    border-radius: 5px;
    border: 1px solid gray;
}

.section1Vid{
    padding-left: 10%;
    padding-top: 2%;
}

.section1Vid iframe{
    width: 360px;
    height: 220px
}

.boxImg img{
    width: 150px;
}

.section3Icon {
    margin-left: 20%;
    margin-top: 3%;
}

.section3Icon img{
    width: 320px;
    height: 200px;
    box-shadow: -2px -2px 5px 1px rgba( 0, 0, 0, .15), 1px 1px 5px 1px rgba( 0, 0, 0, 1);
}
















/*########### Mobile Qwuery #############*/
@media screen and (max-width: 680px){
    ul.topnav li{
        display: none;
    }
    
    ul.topnav li.home,
    ul.topnav li.dropdownIcon{
        display: block;
    }
    
    ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive{
        position: relative;
    }
    
    ul.topnav.responsive li{
        float: none;
        display: inline;
    }
    
    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }
    
    footer.footsy{
        padding-left: 15%;
    }

    .article.sectionArticle {
        margin-left: 1%;
    }
    
    .section3Icon {
        margin-left: 3.5%;
    }
    .col-7,
    .col-6,
    .col-5,
    .col-4 {
        width: 100%;
    }
    
    .col-3{
        width: 50%
    }
    
   .section1Padding{
        padding-left: 14%;
    }
    
    .section1Vid{
        padding-left: 13.5%;
    }
    
    .section1Vid iframe{
        width: 380px;
        height: 220px
    }
    
    .section1Form input{
        padding: 9px 30% 9px 12px;
        margin-bottom: 8px;
    }

    .section3Icon img{
        width: 450px;
        height: 230px;
    }

        
}








